<!-- Start Friend Relation Component -->
<div ng-controller="FriendRelationController as relationCtrl">
  <div ng-if="relationCtrl.profileUser.id !== relationCtrl.loggedInUser.id">

    <md-button class="md-raised" aria-label="Add Friend" ng-click="relationCtrl.addFriend()" ng-if="!relationCtrl.relation">
      Add Friend
    </md-button>

    <div ng-if="relationCtrl.relation && !relationCtrl.relation.status && relationCtrl.loggedInUser.id !== relationCtrl.relation.id.sentId">
      <md-button class="md-raised waves-effect waves-light btn done" aria-label="Accept Request" ng-click="relationCtrl.acceptRequest()">
        Accept Request
      </md-button>

      <md-button class="md-raised waves-effect waves-light btn cancel" aria-label="Deny Request" ng-click="relationCtrl.denyRequest()">
        Deny Request
      </md-button>
    </div>

    <div ng-if="relationCtrl.relation && !relationCtrl.relation.status && relationCtrl.loggedInUser.id == relationCtrl.relation.id.sentId">
      <div class="md-raised waves-effect waves-light" aria-label="Request Pending">
        Request Pending
      </div>
    </div>

    <div class="md-raised" aria-label="You are friends" ng-if="relationCtrl.relation && relationCtrl.relation.status">
      Already Friends
    </div>
  </div>
</div>
<!-- End Friend Relation Component -->
