*{
  box-sizing: border-box;
}
html *
{
   font-family: 'Roboto', sans-serif !important;
}
$gray: #eee;

md-content.md-default-theme {
  background-color: $gray;
}

h2 {
  font-weight: 400;
  padding-right: : 10px;
}

#profileDiv {
  background-color: gray;
  background: gray;
}
.column,
.row {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.columRev {
  flex-direction: column-reverse;
}

.spaceAround {
  justify-content: space-around;
}
.column > *{
  margin: 8px;
}

.centered {
  justify-content: center;
  align-items: center;
}

.right {
  justify-content: flex-end;
}

.textCenter {
  text-align: center;
}

.vrepeatContainer #vertical-container {
    height: 292px;
    width: 400px;
  }

  .vrepeatContainer .repeated-item-vertical {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px;
  }

  .vrepeatContainer {
    margin: 16px;
  }

  .vrepeatContainer md-virtual-repeat-container {
    border: solid 1px grey;
  }

.space-bot{
  margin-bottom: 35px;
}

.space-top{
  margin-top: 35px;
}

/* Title */

h1 {
    color: white;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    text-align: center;
}

span {
  color: black;
  font-family: 'Roboto';
  text-transform: uppercase;
}

/* Sign Up */

.container {
    margin-top: 10px;
}

.alert-danger{
	text-align: center;
}

.signup-screen {
	  padding: 20px;
    padding-bottom: 40px;
    border-radius: 5px;
    background-color: #2c3940;
    box-shadow: 0 1px 6px rgba(0,0,0,.3);
    color: white;
}

.btn{
  border-radius: 2px;
}

.cancel{
  background-color: #df405a;
}

.done{
  background-color: #5CAB7D;
}

.done:hover{
  background-color: #6dc793;
}

.done:focus{
  background-color: #6dc793;
}

.cancel:hover{
  background-color: #f0435f;
}

.cancel:focus{
  background-color: #f0435f;
}

.input-group {
    width:100%;
}

.input-group .ng-invalid {
    border: 2px solid #e74c3c;
    border-radius: 3px;
}

/* Error Box */

.alert{
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 2px;
  border-color: #e85a71;
  background-color:  #e85a71;
  color: white;

}

.help-block {
    font-size: 12px;
    color: white;
}

.datepickerdemoBasicUsage {
  /** Demo styles for mdCalendar. */ }
  .datepickerdemoBasicUsage .validation-messages {
    font-size: 12px;
    color: #dd2c00;
  }
