<!DOCTYPE html>
<html ng-app="fastbook" lang="en">
<head>
<title>fastbook</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Angular Material style sheet -->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="./index.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
<script src="./bower_components/angular-bcrypt/dist/dtrw.bcrypt.js"></script>

  <!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

<base href="/fastbook/" />

<script src="./app/user/user.module.js"></script>
<script src="./app/user/user-create.controller.js"></script>
<script src="./app/user/user.service.js"></script>
<script src="./app/user/user.routes.js"></script>
<script src="./app/user/user.config.js"></script>

<script src="./app/app.module.js"></script>
<script src="./app/app.config.js"></script>
<script src="./app/app.run.js"></script>

</head>

<!DOCTYPE html>
<html ng-app="fastbook" lang="en">
<head>
<title>fastbook</title>

<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Angular Material style sheet -->
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="./index.css">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.js"></script>
<script src="./bower_components/angular-bcrypt/dist/dtrw.bcrypt.js"></script>

  <!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

<base href="/fastbook/" />

<script src="./app/user/user.module.js"></script>
<script src="./app/user/user-create.controller.js"></script>
<script src="./app/user/user.service.js"></script>
<script src="./app/user/user.routes.js"></script>
<script src="./app/user/user.config.js"></script>

<script src="./app/app.module.js"></script>
<script src="./app/app.config.js"></script>
<script src="./app/app.run.js"></script>

</head>

  <body ng-cloak layout="column">

    <div layout="column" layout-fill>
      <md-fab-toolbar md-open="open" count="count" md-direction="right">
          <md-fab-trigger class="align-with-text">

            <md-button aria-label="menu" class="md-fab md-primary">
              <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
            </md-button>

          </md-fab-trigger>
          <md-toolbar>
            <md-fab-actions class="md-toolbar-tools">

          <md-button ng-controller="" ng-click="">
            <md-icon md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
            <md-tooltip md-visible="show" md-direction="bottom">
                Profile
              </md-tooltip>
          </md-button>

          <md-button ng-controller="" ng-click="">
            <md-icon md-svg-icon="social:people" style="color: #00F;" class="s48" aria-label="People Icon"></md-icon>
            <md-tooltip md-visible="show" md-direction="bottom">
              Friend Requests
            </md-tooltip>
          </md-button>

          <md-input-container class="md-block">
              <label>Search</label>
              <!--<md-icon md-svg-src="" class=""></md-icon>-->
              <input ng-model="user.name" type="text">
            </md-input-container>

            <md-button ng-controller="" ng-click="">
              <md-icon md-svg-icon="" style="color: #00F;" class="s48" aria-label=""></md-icon>
              <md-tooltip md-visible="show" md-direction="bottom">
                Submit
              </md-tooltip>

            <md-button ng-controller="" ng-click="">
              Logout
            </md-button>

        </md-fab-actions>
      </md-toolbar>
      </md-fab-toolbar>
</div>
    <md-content>
      <div ui-view>
      </div>
    </md-content>


  </body>
</html>
