*{
  box-sizing: border-box;
}

.column,
.row {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.columRev {
  flex-direction: column-reverse;
}
.column > *,
.row > * {
  flex: 1;
  margin: 8px;
}

.centered {
  justify-content: center;
  align-items: center;
}

.textCenter {
  text-align: center;
}

.vrepeatContainer #vertical-container {
    height: 292px;
    width: 400px;
  }

  .vrepeatContainer .repeated-item-vertical {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px;
  }

  .vrepeatContainer {
    margin: 16px;
  }

  .vrepeatContainer md-virtual-repeat-container {
    border: solid 1px grey;
  }
