<form class="form-login" method="post" name="login">
  <div class="input-field">
   <input id="email" type="email" name="email" ng-model="$login.credentials.email" class="validate" required>
   <label for="email">Email</label>
  </div>

  <p class="alert alert-danger" ng-show="form-register.email.$error.email">Your email is invalid.</p>
  <div class="input-field">
    <input id="password" type="password" name="password" ng-model="$login.credentials.password" ng-minlength='6' class="validate" required>
    <label for="password">Password</label>
  </div>

  <button type="button" class="waves-effect waves-light btn done" ng-click=$login.login()>
    <i class="material-icons left"></i> Login
  </button>
</form>
