<<md-toolbar>
  <div class="md-toolbar-tools">
    <h2>
      <span>Fastbook</span>
    </h2>

    <md-button aria-label="login" ng-click=""> Login </md-button>
    <md-button aria-label="register" ng-click=""> Register </md-button>
  </div>
</md-toolbar>

<md-input-container md-no-float>
  <input aria-label="email" ng-model="$login.credentials.email" type="email">
</md-input-container>
<md-input-container md-no-float>
  <input aria-label="password" ng-model="$login.credentials.password" type="password">
</md-input-container>
<button aria-label="submit" ng-click="$login.login()">
  Submit
</button>
